version: "3"
services:
  grafana:
    image: grafana/grafana:8.0.5
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    depends_on:
      - prometheus
    env_file:
      ./docker/env/.telegram.env
    environment:
      - GF_RENDERING_SERVER_URL=http://renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
    volumes:
      - ./docker/config/grafana/provisioning:/etc/grafana/provisioning
      - grafana-storage:/var/lib/grafana
  renderer:
    image: grafana/grafana-image-renderer:latest
    environment:
      ENABLE_METRICS: 'true'
  prometheus:
    image: prom/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./docker/config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    depends_on:
      - lido_terra
  lido_terra:
    build: .
    environment:
      - SOURCE_ENDPOINTS
      - SOURCE_SCHEMES
      - UPDATE_DATA_INTERVAL
      - ADDRESSES_HUB_CONTRACT
      - ADDRESSES_REWARD_CONTRACT
      - ADDRESSES_BLUNA_TOKEN_INFO_CONTRACT
      - ADDRESSES_VALIDATORS_REGISTRY_CONTRACT
      - ADDRESSES_AIR_DROP_REGISTRY_CONTRACT
      - ADDRESSES_UPDATE_GLOBAL_INDEX_BOT_ADDRESS
      - ADDRESSES_REWARDS_DISPATCHER_CONTRACT
      - BASSET_CONTRACTS_VERSION
      - NETWORK_GENERATION
    logging:
      driver: "json-file"
      options:
        tag: ${SERVICE_NAME:-lido_terra}
  loki:
    image: grafana/loki:2.3.0
    volumes:
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml


  promtail:
    image: grafana/promtail:2.3.0
    environment:
      - SERVICE_NAME=${SERVICE_NAME:-lido_terra}
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - promtail-data:/var/lib/promtail/positions
      - ./docker/config/promtail/promtail.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml --config.expand-env=true


volumes:
  prometheus-data:
  grafana-storage:
  promtail-data:
  loki-data:
