swagger: "2.0"
info:
  version: "3.0"
  title: 'Terra-Lite for Terra'
  description: A REST interface for state queries, transaction generation and broadcasting.
tags:
  - name: Transactions
    description: Search, encode, or broadcast transactions.
  - name: Tendermint RPC
    description: Tendermint APIs, such as query blocks, transactions and validatorset
  - name: Auth
    description: Authenticate accounts
  - name: Bank
    description: Create and broadcast transactions
  - name: Staking
    description: Stake module APIs
  - name: Governance
    description: Governance module APIs
  - name: Slashing
    description: Slashing module APIs
  - name: Distribution
    description: Fee distribution module APIs
  - name: Mint
    description: Minting module APIs
  - name: Supply
    description: Supply module APIs
  - name: Market
    description: Market modules APIs
  - name: Oracle
    description: Get price and voting modules APIs
  - name: Treasury
    description: Treasury modules APIs
  - name: Wasm
    description: Wasm modules APIs
  - name: Authorization
    description: Authorization modules APIs
schemes:
  - https
host: fcd.terra.dev
securityDefinitions:
  kms:
    type: basic

paths:
  /wasm/contracts/{contractAddress}/store:
    get:
      summary: Get stored information with query msg
      tags:
        - Wasm
      parameters:
        - in: path
          name: contractAddress
          description: contract address you want to lookup
          required: true
          type: string
        - in: query
          name: query_msg
          description: json formatted query msg
          required: true
          type: string
          x-example: "{}"
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
        500:
          description: Error
          schema:
            type: object
            properties:
              error:
                type: string
  /v1/txs:
    get:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Account address
          in: query
          name: account
          required: false
          type: string
        - description: Type of tx (account is required)
          in: query
          name: action
          required: false
          type: string
        - description: Block number
          in: query
          name: block
          required: false
          type: string
        - description: Memo filter
          in: query
          name: memo
          required: false
          type: string
        - description: ',''DESC''] Ordering (default: DESC)'
          in: query
          name: order
          required: false
          type: string
        - description: 'Chain ID of Blockchain (default: chain id of mainnet)'
          in: query
          name: chainId
          required: false
          type: string
        - description: Timestamp from
          in: query
          name: from
          required: false
          type: number
        - description: Timestamp to
          in: query
          name: to
          required: false
          type: number
        - description: Use last id from previous result for pagination
          in: query
          name: offset
          required: false
          type: number
        - description: '# of page'
          in: query
          name: page
          required: false
          type: number
        - description: Size of page
          in: query
          name: limit
          required: false
          type: number
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/getTxListResult'
        400:
          description: Error
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              code:
                type: number
      tags:
        - Transactions
      description: Get Tx List
      summary: Get Tx List

  /staking/validators/{validatorAddr}:
    get:
      parameters:
        - in: path
          name: validatorAddr
          description: validator address
          required: true
          type: string
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                $ref: '#/definitions/ValidatorInfo'
        400:
          description: Error
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              code:
                type: number
      tags:
        - Transactions
      description: Get validator info
      summary: Get Validator Info

  /slashing/validators/{validatorPubKey}/signing_info:
    get:
      parameters:
        - in: path
          name: validatorPubKey
          description: validator public key
          required: true
          type: string
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                $ref: '#/definitions/SigningInfo'
        400:
          description: Error
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              code:
                type: number
      tags:
        - Transactions
      description: Get Validator Signing Info
      summary: Get Validator Signing Info

  /oracle/parameters:
    get:
      summary: Get oracle params
      tags:
        - Oracle
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: object
                "$ref": "#/definitions/OracleParams"
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

  /oracle/voters/{validator}/miss:
    get:
      summary: Get the number of vote periods missed in this oracle slash window.
      tags:
        - Oracle
      produces:
        - application/json
      parameters:
        - in: path
          name: validator
          description: oracle operator
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: string
                example: '100'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /bank/balances/{address}:
    get:
      summary: Get the account balances
      tags:
        - Bank
      produces:
        - application/json
      parameters:
        - in: path
          name: address
          description: Account address in bech32 format
          required: true
          type: string
          x-example: terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv
      responses:
        200:
          description: Account balances
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  $ref: "#/definitions/Coin"
        500:
          description: Server internal error
  "/staking/delegators/{delegatorAddr}/validators":
    get:
      summary: Query all validators that a delegator is bonded to
      tags:
        - Staking
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              height:
                type: string
              result:
                type: array
                items:
                  "$ref": "#/definitions/Validator"
        '400':
          description: Invalid delegator address
        '500':
          description: Internal Server Error
      parameters:
        - in: path
          name: delegatorAddr
          description: Bech32 AccAddress of Delegator
          required: true
          type: string
          x-example: terra1wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv


definitions:
  getTxListResult:
    properties:
      next:
        description: Offset
        type: number
      limit:
        description: Per page item limit
        type: number
      txs:
        description: tx list
        items:
          $ref: '#/definitions/getTxListResult.txs'
        type: array
    required:
      - next
      - limit
      - txs
  getTxListResult.txs:
    properties:
      id:
        description: ''
        type: number
      events:
        description: events of tx
        items:
          $ref: '#/definitions/getTxListResult.txs.events'
        type: array
      gas_used:
        description: total gas used in tx
        type: string
      gas_wanted:
        description: gas wanted
        type: string
      height:
        description: block height
        type: string
      logs:
        description: tx logs
        items:
          $ref: '#/definitions/getTxListResult.txs.logs'
        type: array
      raw_log:
        description: tx raw log
        type: string
      timestamp:
        description: timestamp tx in utc 0
        type: string
      tx:
        $ref: '#/definitions/getTxListResult.txs.tx'
        description: tx info
        type: object
      txhash:
        description: tx hash
        type: string
    required:
      - id
      - tx
      - events
      - logs
      - height
      - txhash
      - raw_log
      - gas_used
      - timestamp
      - gas_wanted
  getTxListResult.txs.events:
    properties:
      attributes:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.events.attributes'
        type: array
      type:
        description: ''
        type: string
    required:
      - type
      - attributes
  getTxListResult.txs.events.attributes:
    properties:
      key:
        description: ''
        type: string
      value:
        description: ''
        type: string
    required:
      - key
      - value
  getTxListResult.txs.logs:
    properties:
      events:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.logs.events'
        type: array
      log:
        $ref: '#/definitions/getTxListResult.txs.logs.log'
        description: ''
        type: object
      msg_index:
        description: ''
        type: number
      success:
        description: ''
        type: boolean
    required:
      - msg_index
      - success
      - log
      - events
  getTxListResult.txs.logs.events:
    properties:
      attributes:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.logs.events.attributes'
        type: array
      type:
        description: ''
        type: string
    required:
      - type
      - attributes
  getTxListResult.txs.logs.events.attributes:
    properties:
      key:
        description: ''
        type: string
      value:
        description: ''
        type: string
    required:
      - key
      - value
  getTxListResult.txs.logs.log:
    properties:
      tax:
        description: ''
        type: string
    required:
      - tax
  getTxListResult.txs.tx:
    properties:
      type:
        description: Tx type
        type: string
      value:
        $ref: '#/definitions/getTxListResult.txs.tx.value'
        description: ''
        type: object
    required:
      - type
      - value
  getTxListResult.txs.tx.value:
    properties:
      fee:
        $ref: '#/definitions/getTxListResult.txs.tx.value.fee'
        description: ''
        type: object
      memo:
        description: ''
        type: string
      msg:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.tx.value.msg'
        type: array
      signatures:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.tx.value.signatures'
        type: array
    required:
      - fee
      - memo
      - msg
      - signatures
  getTxListResult.txs.tx.value.fee:
    properties:
      amount:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.tx.value.fee.amount'
        type: array
      gas:
        description: ''
        type: string
    required:
      - gas
      - amount
  getTxListResult.txs.tx.value.fee.amount:
    properties:
      amount:
        description: ''
        type: string
      denom:
        description: ''
        type: string
    required:
      - denom
      - amount
  getTxListResult.txs.tx.value.msg:
    properties:
      type:
        description: ''
        type: string
      value:
        $ref: '#/definitions/getTxListResult.txs.tx.value.msg.value'
        description: ''
        type: object
    required:
      - type
      - value
  getTxListResult.txs.tx.value.msg.value:
    properties:
      coins:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.tx.value.msg.value.inputs.coins'
        type: array

      sender:
        description: ''
        type: string

      contract:
        description: ''
        type: string

      execute_msg:
        description: ''
        type: string
    required:
      - coins
      - sender
      - contract
      - execute_msg
  getTxListResult.txs.tx.value.msg.value.inputs:
    properties:
      address:
        description: ''
        type: string
      coins:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.tx.value.msg.value.inputs.coins'
        type: array
    required:
      - address
      - coins
  getTxListResult.txs.tx.value.msg.value.inputs.coins:
    properties:
      amount:
        description: ''
        type: string
      deonm:
        description: ''
        type: string
    required:
      - deonm
      - amount
  getTxListResult.txs.tx.value.msg.value.outputs:
    properties:
      address:
        description: ''
        type: string
      coins:
        description: ''
        items:
          $ref: '#/definitions/getTxListResult.txs.tx.value.msg.value.outputs.coins'
        type: array
    required:
      - address
      - coins
  getTxListResult.txs.tx.value.msg.value.outputs.coins:
    properties:
      amount:
        description: ''
        type: string
      deonm:
        description: ''
        type: string
    required:
      - deonm
      - amount
  getTxListResult.txs.tx.value.signatures:
    properties:
      pub_key:
        $ref: '#/definitions/getTxListResult.txs.tx.value.signatures.pub_key'
        description: ''
        type: object
      signature:
        description: ''
        type: string
    required:
      - signature
      - pub_key
  getTxListResult.txs.tx.value.signatures.pub_key:
    properties:
      type:
        description: ''
        type: string
      value:
        description: ''
        type: string
    required:
      - type
      - value
  getTxResult:
    properties:
      chainId:
        description: ''
        type: string
      events:
        description: events of tx
        items:
          $ref: '#/definitions/getTxResult.events'
        type: array
      gas_used:
        description: total gas used in tx
        type: string
      gas_wanted:
        description: gas wanted
        type: string
      height:
        description: block height
        type: string
      logs:
        description: tx logs
        items:
          $ref: '#/definitions/getTxResult.logs'
        type: array
      raw_log:
        description: tx raw log
        type: string
      timestamp:
        description: timestamp tx in utc 0
        type: string
      tx:
        $ref: '#/definitions/getTxResult.tx'
        description: tx info
        type: object
      txhash:
        description: tx hash
        type: string
    required:
      - tx
      - events
      - logs
      - height
      - txhash
      - raw_log
      - gas_used
      - timestamp
      - gas_wanted
      - chainId
  getTxResult.events:
    properties:
      attributes:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.events.attributes'
        type: array
      type:
        description: ''
        type: string
    required:
      - type
      - attributes
  getTxResult.events.attributes:
    properties:
      key:
        description: ''
        type: string
      value:
        description: ''
        type: string
    required:
      - key
      - value
  getTxResult.logs:
    properties:
      events:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.logs.events'
        type: array
      log:
        $ref: '#/definitions/getTxResult.logs.log'
        description: ''
        type: object
      msg_index:
        description: ''
        type: number
      success:
        description: ''
        type: boolean
    required:
      - events
      - log
      - msg_index
      - success
  getTxResult.logs.events:
    properties:
      attributes:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.logs.events.attributes'
        type: array
      types:
        description: ''
        type: string
    required:
      - attributes
      - types
  getTxResult.logs.events.attributes:
    properties:
      key:
        description: ''
        type: string
      value:
        description: ''
        type: string
    required:
      - key
      - value
  getTxResult.logs.log:
    properties:
      tax:
        description: ''
        type: string
    required:
      - tax
  getTxResult.tx:
    properties:
      type:
        description: tx type
        type: string
      value:
        $ref: '#/definitions/getTxResult.tx.value'
        description: ''
        type: object
    required:
      - type
      - value
  getTxResult.tx.value:
    properties:
      fee:
        $ref: '#/definitions/getTxResult.tx.value.fee'
        description: ''
        type: object
      memo:
        description: ''
        type: string
      msg:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.tx.value.msg'
        type: array
      signatures:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.tx.value.signatures'
        type: array
    required:
      - fee
      - memo
      - msg
      - signatures
  getTxResult.tx.value.fee:
    properties:
      amount:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.tx.value.fee.amount'
        type: array
      gas:
        description: ''
        type: string
    required:
      - amount
      - gas
  getTxResult.tx.value.fee.amount:
    properties:
      amount:
        description: ''
        type: string
      denom:
        description: ''
        type: string
    required:
      - denom
      - amount
  getTxResult.tx.value.msg:
    properties:
      type:
        description: ''
        type: string
      value:
        $ref: '#/definitions/getTxResult.tx.value.msg.value'
        description: ''
        type: object
    required:
      - type
      - value
  getTxResult.tx.value.msg.value:
    properties:
      amount:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.tx.value.msg.value.amount'
        type: array
    required:
      - amount
  getTxResult.tx.value.msg.value.amount:
    properties:
      amount:
        description: ''
        type: string
      denom:
        description: ''
        type: string
    required:
      - denom
      - amount
  getTxResult.tx.value.signatures:
    properties:
      pubKey:
        description: ''
        items:
          $ref: '#/definitions/getTxResult.tx.value.signatures.pubKey'
        type: array
      signature:
        description: ''
        type: string
    required:
      - pubKey
      - signature
  getTxResult.tx.value.signatures.pubKey:
    properties:
      type:
        description: ''
        type: string
      value:
        description: ''
        type: string
    required:
      - type
      - value
  SigningInfo:
    type: object
    properties:
      address:
        type: string
      start_height:
        type: string
      index_offset:
        type: string
      tombstoned:
        type: boolean
      missed_blocks_counter:
        type: string
    required:
      - address
      - start_height
      - index_offset
      - tombstoned
      - missed_blocks_counter
  ValidatorInfo:
    type: object
    properties:
      consensus_pubkey:
        type: string
      jailed:
        type: boolean
      description:
        type: object
        properties:
          moniker:
            type: string
      commission:
        type: object
        properties:
          commission_rates:
            type: object
            properties:
              rate:
                type: string
            required:
              - rate
        required:
          - commission_rates
    required:
      - consensus_pubkey
      - description
      - commission
      - jailed
  OracleParams:
    type: object
    properties:
      vote_period:
        type: string
        example: '900'
      vote_threshold:
        type: string
        example: '0.67'
      drop_threshold:
        type: string
        example: '10'
      oracle_reward_band:
        type: string
        example: '0.02'
      slash_window:
        type: string
        example: '43200'
  Coin:
    type: object
    properties:
      denom:
        type: string
        example: uluna
      amount:
        type: string
        example: "50"
  ValidatorAddress:
    type: string
    description: bech32 encoded address
    example: terravaloper1wg2mlrxdmnnkkykgqg4znky86nyrtc45q7a85l
  Validator:
    type: object
    properties:
      operator_address:
        "$ref": "#/definitions/ValidatorAddress"
      consensus_pubkey:
        type: string
        example: terravalconspub1zcjduepq7mft6gfls57a0a42d7uhx656cckhfvtrlmw744jv4q0mvlv0dypskehfk8
      jailed:
        type: boolean
      status:
        type: integer
      tokens:
        type: string
      delegator_shares:
        type: string
      description:
        type: object
        properties:
          moniker:
            type: string
          identity:
            type: string
          website:
            type: string
          details:
            type: string
      bond_height:
        type: string
        example: '0'
      bond_intra_tx_counter:
        type: integer
        example: 0
      unbonding_height:
        type: string
        example: '0'
      unbonding_time:
        type: string
        example: '1970-01-01T00:00:00Z'
      commission:
        type: object
        properties:
          rate:
            type: string
            example: '0'
          max_rate:
            type: string
            example: '0'
          max_change_rate:
            type: string
            example: '0'
          update_time:
            type: string
            example: '1970-01-01T00:00:00Z'