swagger: "2.0"
info:
  version: "3.0"
  title: 'Terra-Lite for Terra'
  description: A REST interface for state queries, transaction generation and broadcasting.
schemes:
  - https
host: fcd.terra.dev
securityDefinitions:
  kms:
    type: basic

paths:
  /cosmos/slashing/v1beta1/signing_infos/{cons_address}:
    get:
      summary: SigningInfo queries the signing info of given cons address
      operationId: SigningInfo
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties:
              val_signing_info:
                type: object
                properties:
                  address:
                    type: string
                  start_height:
                    type: string
                    format: int64
                    title: Height at which validator was first a candidate OR was unjailed
                  index_offset:
                    type: string
                    format: int64
                    description: |-
                      Index which is incremented each time the validator was a bonded
                      in a block and may have signed a precommit or not. This in conjunction with the
                      `SignedBlocksWindow` param determines the index in the `MissedBlocksBitArray`.
                  jailed_until:
                    type: string
                    format: date-time
                    description: Timestamp until which the validator is jailed due to liveness downtime.
                  tombstoned:
                    type: boolean
                    format: boolean
                    description: |-
                      Whether or not a validator has been tombstoned (killed out of validator set). It is set
                      once the validator commits an equivocation or for any other configured misbehiavor.
                  missed_blocks_counter:
                    type: string
                    format: int64
                    description: |-
                      A counter kept to avoid unnecessary array reads.
                      Note that `Sum(MissedBlocksBitArray)` always equals `MissedBlocksCounter`.
                required:
                  - missed_blocks_counter
                description: |-
                  ValidatorSigningInfo defines a validator's signing info for monitoring their
                  liveness activity.
                title: val_signing_info is the signing info of requested val cons address
            title: |-
              QuerySigningInfoResponse is the response type for the Query/SigningInfo RPC
              method
        default:
          description: An unexpected error response
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: integer
                format: int32
              message:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    type_url:
                      type: string
                    value:
                      type: string
                      format: byte
      parameters:
        - name: cons_address
          description: cons_address is the address to query signing info of
          in: path
          required: true
          type: string
      tags:
        - Query